<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Specialit
    link(rel='stylesheet' href='./styles/index.sass')
    link(href='https://fonts.googleapis.com/css?family=Mitr|Sarabun&display=swap' rel='stylesheet')
  body
    #app
      router-view

    script(src='./js/main.js')
