<!DOCTYPE html>
html(lang="th-TH")
  head
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(property="title", content="SPECIALIT | กิจกรรมสุดพิเศษ สำหรับลูกคนพิเศษ")
    meta(property="description", content="พื้นที่ที่จะเชื่อมโยงคุณและลูกคนพิเศษของคุณเข้ากับสถาบันต่าง ๆ")
    // meta(property="image", content="./images/REPLACE ME.png")
    // link(rel="shortcut icon", href="./images/REPLACE ME.png")
    script(src="https://kit.fontawesome.com/3cce59ba26.js" crossorigin="anonymous")
    title SPECIALIT | กิจกรรมพิเศษสำหรับลูกคนพิเศษ
    link(rel='stylesheet' href='./styles/index.sass')
    link(href='https://fonts.googleapis.com/css?family=Kanit:300,400,600|Sarabun:400,600&display=swap' rel='stylesheet')
  body
    #app
      router-view

    script(src='./js/main.js')
